*{
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

#text-area{
    border: none;
    text-transform: lowercase;
    margin-top: 10px;
    background: #A2C699;
    border-radius: 15px;
    margin-right: 10%;
    transition: 0.5s all;
}

::placeholder{
    color: #082600;
}

#text-area:focus{
    outline: none;
}

#encriptado{
    border: none;
    text-transform: lowercase;
    margin-top: 10px;
    background: #A2C699;
    border-radius: 15px;
    margin-left: 40%;
    margin-right: 10%;
    transition: 0.5s all;
}

#encriptado:focus{
    outline: none;
}

#informacion{
    color: #082600;
    font-size: 55%;
    display: inline-block;
}

#botones{
    display: flex;
}

#btn-encriptar{
    background: #A2C699;
    border:none;
    color: #082600;
    margin-left: 30%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

#btn-encriptar:hover{
    color: white;
}

#btn-encriptar:active{
    background: #AA7D5F;
    transition: 0s;
}

#btn-desencriptar{
    background: #A2C699;
    border: none;
    color: #082600;
    margin-left: 5%;
    margin-right: 30%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

#btn-desencriptar:hover{
    background: #A2C699;
    color: white;
    border: none;   
}

#btn-desencriptar:active{
    background: #AA7D5F;
    transition: 0s;
}

#copiar{
    margin-left: 50%;
    background: #A2C699;
    color: #082600;
    border: none;
    margin-top: 13%;
    border-radius: 10px;
    transition: 0.5s all;
    display: none;
}

#copiar:hover{
    background: #A2C699;
    color: white;
    border: none;
    cursor: pointer;
}

#copiar:active{
    background: #AA7D5F;
    transition: 0s;
}
